# Localization and keymap
d-i debian-installer/locale string {locale}

# seems not to work anyways :/
;d-i keyboard-configuration/xkb-keymap select <layoutcode>
;d-i keyboard-configuration/layoutcode string <layoutcode>
;d-i keyboard-configuration/variantcode string <variantcode>

# Automatic network configuration
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string {hostname}
d-i netcfg/get_domain string local

# Debian mirror settings
d-i mirror/country string manual
d-i mirror/http/hostname string ftp.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# Account setup (root/toor and user/resu)
d-i passwd/root-password-crypted password {root_password_hash}
d-i passwd/root-password-again-crypted password {root_password_hash}
d-i passwd/make-user false

# Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string {timezone}

# Partitioning: guided partitioning, everything in the same partition
d-i partman-auto/disk string /dev/vda
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman/choose_partition select finish
d-i partman/confirm write_new_label boolean true
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/confirm_nochanges boolean true

# Package selection
tasksel tasksel/first multiselect standard

# Don't participate in the package usage survey
popularity-contest popularity-contest/participate boolean false

# Install the bootloader on /dev/vda
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false
d-i grub-installer/bootdev string /dev/vda

# Finishing up
d-i preseed/late_command string \
    cp /bootstrap /target/tmp/bootstrap; \
    chmod +x /target/tmp/bootstrap; \
    in-target /tmp/bootstrap

d-i finish-install/reboot_in_progress note
